body{
	margin:0 auto; 	
    background:url("../images/login_bg.jpg") repeat-x left top;
}
*{
	margin:0;
	padding:0;
}
body, input, table, select, textarea, h1, h2, h3, h4, h5, h6, button {
    font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
} 
input{
   border: 1px solid #CCCCCC;
   background:#ffffee;
}
form {
	margin: 0px;
	padding: 0px;
}
#copyright{
    clear:both;
    margin-top:20px;
    padding-top:40px;
}
#copyright span{

    color:#60819d;
    line-height:23px;
    height:23px;
    display:inline;
}
/**hhh**/

A:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A:visited {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A:hover {
	COLOR: #333333;
	TEXT-DECORATION: underline
}

A:active {
	COLOR: #666666
}

.STYLE1 {
	color: #e1e2e3;
	font-size: 12px;
}

.STYLE6 {
	color: #000000;
	font-size: 12;
}

.STYLE10 {
	color: #000000;
	font-size: 12px;
	font-weight: bold
}

.STYLE19 {
	color: #344b50;
	font-size: 12px;
}

.STYLE21 {
	font-size: 12px;
	color: #3b6375;
}

.STYLE22 {
	font-size: 12px;
	color: #295568;
}
tr td{
	height:28px;
	overflow:hidden;
}
form{
	margin:0px;
	padding:0px;
}